*.bin filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.sav filter=lfs diff=lfs merge=lfs -text
models/transformer_model_enron.bin filter=lfs diff=lfs merge=lfs -text
models/transformer_model_spooky.bin filter=lfs diff=lfs merge=lfs -text
models/transformer_model_wapo.bin filter=lfs diff=lfs merge=lfs -text
models/author_model.sav filter=lfs diff=lfs merge=lfs -text
models/blogtext.csv filter=lfs diff=lfs merge=lfs -text